@if(allProduct && allProduct.length>0){
  <div class="p-8 mt-4">
    <div class="shadow p-6">
    <div class="flex justify-center p-4 bg-gray-300"><h2><b>Product List</b></h2></div>
    <table mat-table [dataSource]="allProduct" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef>Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="productDescription">
        <th mat-header-cell *matHeaderCellDef> Product Description </th>
        <td mat-cell *matCellDef="let element"> {{element.productDescription}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="productQuontity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.productQuontity}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef > Action </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="updateModel(element.id)" class="ml-2">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteModel(element.id)" class="ml-2">Delete</button></td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  </div>
}
